<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Libros</title>
</head>
<body>
<h1>Lista de Libros</h1>
<a href="/libros/nuevo">Agregar Nuevo Libro</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="libro : ${libros}">
        <td th:text="${libro.id}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.autor}"></td>
        <td th:text="${libro.precio}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
